@model IEnumerable<ProjectMediiMaster_BogdanIstrate.Models.LibraryViewModels.GuitarOrderGroup>
@{
    ViewData["Title"] = "Ordered Guitar Statistics";
}
<h2>Ordered Guitar Statistics</h2>
<table>
    <tr>
        <th>
            Order Date
        </th>
        <th>
            Ordered Guitars
        </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.OrderDate)
            </td>
            <td>
                @item.GuitarCount
            </td>
        </tr>
    }
</table>
